
  <%- include('../layouts/adminheader.ejs') %>
  <style>
    /* Custom CSS to style the product images */
    .product-image {
      max-width: 50px;
      cursor: pointer;
    }
  </style>

  <!-- Content Section -->
  <section>
  <div class="container mt-4">
    <h3>Product Details</h3>
    <!-- Make the table responsive to prevent horizontal scrolling -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="myTable">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>             
            <th>Edit / Delete</th>
            <th>Listed / Unlisted</th>
          </tr>
        </thead>
        <tbody>
          <!-- Replace this section with your server-side rendering or template engine -->
          <% if (products.length > 0) {
            for (let i = 0; i < products.length; i++) { %>
              <tr>
                <td><%= products[i].name %></td>
                <td><%= products[i].brand %></td>
                <td>
                
                      <img src="/product-images/<%= products[i].image[0] %>" alt="Uploaded Image" class="product-image" data-toggle="modal" data-target="#imageModal" data-image="/product-images/<%= products[i].image[0] %>">
                  
                </td>
                <td><%= products[i].type %></td>
                <td><%= products[i].description %></td>
                <td><%= products[i].price %></td>
                <td><%= products[i].stock %></td>
                <td>
                  <a href="/admin/editproduct?id=<%= products[i]._id %>" class="btn btn-primary btn-block">Edit</a>
                </td>
                <td>
                  <% if (products[i].is_listed) { %>
                    <a href="/admin/unlistproduct?id=<%= products[i]._id %>" class="btn btn-danger btn-block">Unlisted</a>
                  <% } else { %>
                    <a href="/admin/listproduct?id=<%= products[i]._id %>" class="btn btn-success btn-block">Listed</a>
                  <% } %>
                </td>
              </tr>
            <% } 
          } else { %>
            <tr>
              <td colspan="9">Product not found</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <a href="/adminhome" class="btn btn-primary">Go back</a>
  </div>
  <br>
  <br>
</section>
  <!-- JavaScript to handle image click and set modal image source -->
  <script>
    $(document).ready(function () {
      $('.content-main').on('click', 'img[data-toggle="modal"]', function () {
        const imageSrc = $(this).data('image');
        $('#modalImage').attr('src', imageSrc);
      });
    });
  </script>

<%- include('../layouts/adminfooter.ejs') %>
