<%-include('../layouts/header.ejs')%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div  class="page-content">
            	<div  class="checkout">
	                <div  class="container">
            			<div class="checkout-discount">
							<form  id="coupon-form">
								<input  type="text" name="code" class="form-control" required id="checkout-discount-input">
								<label for="checkout-discount-input" style="color: red;" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
								
							  </form>
          <div id="coupon-result"></div>
          <br>
          <a type="button" href="/coupondisplay" class="btn btn-light">Available Coupons</a>
            			</div><!-- End .checkout-discount -->
            			<form  id="checkoutform" method="post">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				
									<% users.address.forEach(function(address, index) { %>
										<input type="radio" id="address<%= index %>" name="selectedAddress" value="<%= address._id %>" required>
										<div class="address-section">
										  <label for="address<%= index %>" id="address">
											<%= address.order_name %>,<br>
											<%= address.newmobile %>,<br>
											<%= address.house_address %>, <%= address.locality %><br>
											<%= address.place %>, <%= address.state %>, <%= address.country %><br>
											Pincode: <%= address.pincode %>
										  </label>
										  <br>
										  <br>
									  <% }); %>
									</div>
									</div>
	        							<div class="custom-control custom-checkbox">
											<a class="btn btn-primary" href="/addnewaddress"> Add new address</a>
										</div><!-- End .custom-checkbox -->

										<div class="custom-control custom-checkbox">
											
											<a class="btn btn-primary"  href="/profile">Edit address</a>
										</div><!-- End .custom-checkbox -->
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
														<tr>
															<th>Product</th>
															<th>Total</th>
														</tr>
													</thead>
													<tbody>
														<% for (let i = 0; i < cart.length; i++) { %>
															<tr>
																<td><%= cart[i].productdescription %> (1)</td>
																<td><%= cart[i].productprice %></td>
                            
                                
															</tr>
														<% } %>
													</tbody>
												
		                						<tr class="summary-subtotal" id="subtotal" >
		                							<td>Subtotal:</td>
		                							<td><span id="coupondis"><%=subtotal%></span></td>
		                						</tr><!-- End .summary-subtotal -->
                                <!-- <input type="hidden" name="subtotal" value="<%=subtotal%>"> -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->
										<div id="coupon-result">
											<tr>
												<p id="actual-total" name="actualtotal" style="color: black; font-size: 18px;"> </p>
												
                      </tr>
												</div>
												<br> 
												<br>
<div class="accordion-summary" id="payment">
    <div class="card">
        <div class="card-header"  id="heading-1">
            <h2 class="card-title">
              <input type="radio" name="option"  value="COD" required>
               
                &nbsp; &nbsp;  Cash On Delivery
            </h2>
        </div><!-- End .card-header -->
        <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
            <div class="card-body">
                Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
            </div><!-- End .card-body -->
        </div><!-- End .collapse -->
    </div><!-- End .card -->
    <br>
    <div class="card">
        <div class="card-header"  id="heading-2" >
            <h2 class="card-title "  >
              <input type="radio"  name="option"  value="razorpay" required>
                &nbsp; &nbsp;  Razo Pay
            </h2>
        </div><!-- End .card-header -->
        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
            <div class="card-body">
                Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
            </div><!-- End .card-body -->
        </div><!-- End .collapse -->
    </div><!-- End .card -->
    <br>
    <div class="card">
        <div class="card-header"  id="heading-3">
            <h2 class="card-title">
              <input type="radio"  name="option"  value="Wallet" required>
                &nbsp; &nbsp; Wallet
            </h2>
        </div><!-- End .card-header -->
        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
            <div class="card-body">
                Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
            </div><!-- End .card-body -->
        </div><!-- End .collapse -->
    </div><!-- End .card -->
    <br>
</div><!-- End .accordion-summary -->

		                			<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span  class="btn-hover-text">Place Order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<script>
			
		// Client-Side JavaScript
  document.addEventListener('DOMContentLoaded', () => {
  const couponForm = document.getElementById('coupon-form');
  const couponResult = document.getElementById('coupon-result');
  const actualTotalElement = document.getElementById('actual-total'); // Get the actual total element

  couponForm.addEventListener('submit', async (event) => {
    event.preventDefault();

    const formData = new FormData(couponForm);
    const code = formData.get('code');
    const Subtotal = '<%=subtotal%>'; // Make sure the value is correctly replaced from EJS

    const requestBody = {
      code: code,
      Subtotal: Subtotal,
    };

    const response = await fetch('/checkcoupon', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(requestBody),
    });

    try {
      const data = await response.json();
      const messageElement = document.createElement('p');
      messageElement.textContent = data.message;
      couponResult.innerHTML = '';
      couponResult.appendChild(messageElement);

     let displayedAmount; // Declare a global variable


    displayedAmount = data.actualtotal.toFixed(2); // Store the displayed amount
    actualTotalElement.textContent = `The Amount you Saved: ₹${data.subtotal-displayedAmount}`;

  document.getElementById('coupondis').textContent =data.actualtotal
    } catch (error) {
      console.error('Error parsing response:', error);
    }
  });
});

  </script>
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   
    <script>
      document.getElementById('checkoutform').addEventListener('submit',async function(event){
        event.preventDefault();
        const formData=new FormData(this);
        const option=formData.get('option')
        const selectedAddress=formData.get('selectedAddress')
        const subtotal=parseFloat(document.getElementById('coupondis').textContent)
      
  
        try{
          const response=await fetch ('/paymentsuccess',{
          method:'post',
          headers:{
            'Content-Type':'application/json'
          },
          
          body:JSON.stringify({
            option,
            selectedAddress,
            subtotal,
         
          })
        })
        const result=await response.json();
  
    if(result.razorpayOrder){
          var options = {
    "key": "rzp_test_N5uAMuy4cH3gb4", // Enter the Key ID generated from the Dashboard
    "amount": result.razorpayOrder.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": result.razorpayOrder.currency,
    "name": "Fishing Hub", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": result.razorpayOrder.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        verifyPayment(response,result.razorpayOrder)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp = new Razorpay(options);
        rzp.open();
        e.preventDefault();
}else if (result.neworder) {
  const newdata = result.neworder;
  const data = encodeURIComponent(JSON.stringify(newdata));
  window.location.href = `/forcod?id=${data}`;
}

  } catch (error) {
    console.error('Error:', error);
  }
});
async function verifyPayment(order, payment) {
  try {
    const response = await fetch('/verify-payment', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        order,
        payment
      })
    });

    if (response.ok) {
      // Redirect to successpage with payment details as query parameters
      const paymentDetails = encodeURIComponent(JSON.stringify(payment));
      window.location.href = `/successpage?payment=${paymentDetails}`;
    }



    // Handle successful response if needed
  } catch (error) {
    console.error('Fetch error:', error);
    // Handle error here
  }
}

</script>
        <%-include('../layouts/footer.ejs')%>

       